.headingText {
    color : red;
    };
    .greenText{
      color : green;
    };
    .redText{
      color : red;
    };
    .buttonStyle {
      color : blue;
      background-color: burlywood;
    };
    .green {
      background-color: green;
    }
    
    .red {
      background-color: red;
    }
    